body {
  font-family: 'Sawarabi Mincho', sans-serif;
  background: url("../quilt.jpg");
	background-repeat: repeat;
  background-size: 350px 350px;
	align-content: justify;
	position: relative;
}

img {
  width: 250px;
  height: 250px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.dragon {
    animation-name:            rotate;
    animation-duration:        0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container {
  background-color: #DEB887;
  opacity: 0.9;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  position: relative;
  max-width: 400px;
  max-height: 400px;
  padding: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
}

div.text {
  margin-left: auto;
  margin-right: auto;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Safari 3-8 */
  transform: rotate(-45deg);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.horizontal-center {
  min-width: 100%;
  min-width: 100vh;
  display: flex;
  align-items: center;
}


.btn {
  font-weight: bold;
  color: #D4AF37 !important;
  background-color: #8B0000	;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}
